# SILK (Sistem Informasi Laboratorium Konoha) Environment Configuration
VITE_APP_NAME="SILK - Sistem Informasi Laboratorium Konoha"
VITE_SATUSEHAT_GATEWAY_URL="https://api-satusehat.kemkes.kn/fhir-r4/v1"
VITE_FACILITY_ID="FASKES-LRN-001"
